﻿@model WorkTestProject.Models.Home.IndexViewModel

<style>
    .product {
        cursor: pointer;
    }
</style>

<div class="container">
    <h2>Products List</h2>
    <div class="table-responsive">
        <table class="table" id="products">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Active</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <tr class="product" data-id="@Model.Products[i].Id">
                        <td>@Model.Products[i].Id</td>
                        <td>@Model.Products[i].Name</td>
                        <td>@Model.Products[i].ProductCategory.Name</td>
                        <td>@Model.Products[i].IsActive</td>
                        <td>@Model.Products[i].Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>