﻿@model WorkTestProject.Models.Products.DetailsViewModel

    <div class="container">
        <a href="/">Go back</a>
        <h2>Product #@Model.Product.Id</h2>
        <div id="alert"></div>
        @using (Html.BeginForm("Update", "Product", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Product.Id)
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Product.Name, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Product.Name)
            </div>
            <div class="form-group">
                <label>Category name</label>
                @Html.TextBoxFor(m => m.Product.ProductCategory.Name, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Product.ProductCategory.Name)
            </div>
            <div class="form-check" style="margin-bottom: 15px;">
                @Html.CheckBoxFor(m => m.Product.IsActive, htmlAttributes: new { @class = "form-check-input" })
                <label class="form-check-label" for="Product_IsActive">Active</label>
            </div>
            <div class="form-group">
                <label>Price</label>
                @Html.TextBoxFor(m => m.Product.Price, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Product.Price)
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>

@if(Model.State == "updated")
{
    <script>
        toNotify('alert');
    </script>
}